:root {
  --bg-dark: #0f0f0f;
  --text-white: #ffffff;
  --gray-text: #aaaaaa;
}

:root {
    --font-main: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {

  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: var(--font-main);
  /* suavização da fonte*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg-dark);
  color: var(--text-white);
  font-family: Roboto, inter, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font: inherit; 
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button i {
    color: var(--text-white);
}


.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-dark);
    padding: 10px 16px;
    height: 56px;
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 100;
}

.header-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 16px; 
  line-height: 0;
}

.header-actions i {
   font-size: 1.2rem; 
    display: flex;
    align-items: center;
    justify-content: center;
}


h1 {
   
  font-size: 1.1rem;
  font-weight: 500;
}

.hero {
    margin-top: 56px;
    width: 100%;
    aspect-ratio: 3 / 1 ;
}

.hero img{
    width: 100%;
    height: 150px ;
    
    object-fit: cover;
}

.perfil-info {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 12px;
  

  grid-template-areas: 
    "avatar"
    "textos"
    "botao"
  ;
}
.perfil-info img{
  margin-top: -25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-self: center;
  object-fit: cover;
}

.perfil-textos {
  grid-area: textos;
  

}

.btn-subscribe {
  grid-area: botao;
  background-color: var(--text-white);
  padding: 10px;
  border-radius: 50px;
  color: var(--bg-dark);
  width: 100%;
  margin-top: 20px;
  
}

.perfil-p button { 
  grid-area: seta; 
  display: flex;
}

.perfil-p{
  grid-area: textos;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.nav-interna ul {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 16px;
  overflow-x: auto; 
  white-space: nowrap;
  

}

.nav-interna ul::-webkit-scrollbar {  /* remove a barrinha de rolagem da nav */
  display: none;
}

.nav-interna li a {
  font-size: 0.850rem;
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--gray-text);
}

.nav-interna ul li a.active{
  color: var(--text-white);
  border-bottom:3px solid var(--text-white);;
  padding-bottom: 9px;

}
.perfil-canal-miniatura {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.footer-box {
  bottom: 0;
  left: 0;
  width: 100%;
  position: fixed;
  border-top: 1px solid #272727;
  z-index: 100;
}

.footer-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  color: var(--text-white);
 

}

.btn-footer-box {
  display: flex;
  justify-content: space-around;
  gap: 16px; 
  
  color: var(--text-white);
  line-height: 0;
  height: 56px;

}

.botoes-f{
  font-size: 1.2rem; 
}

.btn-footer-box p {
  color: var(--text-white);
  
}

.btn-plus {
  font-size: 2rem;
}